.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #292929;
  height: 100px;
}
.nav-logo {
  font-family: Outfit;
  font-size: 44px;
  font-weight: 500;
  margin-left: 50px;
  padding: 10px 38px;
}
.nav-menu {
  display: flex;
  gap: 90px;
  list-style: none;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  margin-right: 40px;
  

}
.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background-color: #ffff;
  color: #262626;
}
